#ImgCard{
    margin: 20px 0px 0px 20px;
}

.icons a{
    color: black;
    text-decoration: none;
}
.facebook-icon:hover{
    color: #3b589e;
}
.insta-icon:hover{
    color: #ba1a7d;
    size: 10px;
}
.whats-icon:hover{
    color: #7ad06d;
}
.linkedin-icon:hover{
    color: #0077b7;
}
.github-icon:hover{
    color: rgb(92, 83, 83);
}
